<div class="form-group">
  <input type="text" name="name"  class="form-control my-input" id="name" placeholder="Name">
</div>

<div class="form-group">
  <input type="email" name="email"  class="form-control my-input" id="email" placeholder="Email">
</div>

<div class="form-group">
  <input id="password1" class="form-control my-input" type="password" placeholder="Password" required name=up>
</div>

<div class="form-group">
  <input id="password2" class="form-control my-input" type="password" placeholder="Confirm password" name=up2>
</div>

<div class="form-group">
  <input type="text" class="form-control my-input" id="inputAddress" placeholder="Your address">
</div>

<div class="form-group">
  <input type="text" class="form-control my-input" placeholder="Username / Name / Category /">
</div>

<div class="form-group">
  <select class="custom-select my-input" id="inputQuantity" placdeholder="Select quantity">
    <option selected>Select quantity</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="1">4</option>
    <option value="2">5</option>
    <option value="3">6</option>
    <option value="1">7</option>
    <option value="2">8</option>
    <option value="3">9</option>
    <option value="1">10</option>
  </select>
  </div>

<div class="form-group">
  <input class="form-control my-input" type="number" value="" id="Price" placeholder="Price">
</div>

<div class="custom-file">
  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
<label class="custom-file-label my-input" for="inputGroupFile01">Choose photo</label>
</div>

<div class="text-center ">
  <button type="submit" class=" btn btn-block send-button tx-tfm">Create Your Free Account</button>
</div>
