.container-cards {
  display: grid;
  margin: 3% auto 5% auto;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 3%;
  grid-row-gap: 5%;
}

.container-cards-profile {
  display: grid;
  margin: 0 auto 5% 5%;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 3%;
  grid-row-gap: 5%;
}

.container-cards-index {
  display: grid;
  width: 100%;
  height: 100%;
  padding-right: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 2%;
  grid-row-gap: 15px;
}

.ordered-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.intern-container {
  display: flex;
  justify-content: space-between;
  img{
    object-fit: cover;
    height: 70%;
    width: 100%;
  }
}
.full-container{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr 8fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.profile-container{
  display: grid;
  width: 100%;
  // height: 100%;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 2fr 3fr 2fr 5fr;
  grid-auto-rows: min-content;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.order-grid{
  display: grid;
  // margin: 0 auto 5% 5%;
  width: 100%;
  // height: 100%;
  // margin-bottom: 10%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;

  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 3%;
  grid-row-gap: 5%;
}
.right-side{
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.bottom-side{
  display: flex;
  width: 100%;
  flex-direction: column;
}
