.global {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 83%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.half-one {
  background-color: #FFF;
  height: 40%;
  width: 100%;
  text-align: center;

}

.half-two {
  line-height: 2;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #FFF;
  height: 50%;
  width: 100%;

}

.totale {
  display: flex;
  width: 100vw;
  height: 90.5%;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

.meal-picture {
  height: 100%;
  width: 100%;
}

.meal-picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cooker {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  margin-top: 0px;
  height: 15%;
  width: 100%;
  background-color: #FFF;
  justify-content: space-around;
  align-items: center;
}


#avatar {
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
}

.cooker p {
  padding-top: 45px;
  font-size: 1.5em;
  padding-right: 40px;
  padding-left: 40px;
}

.loc-price {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.btns {
  margin-top: 1%;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}

.btn-ghost {
  color: #EF2D56;
  border: 1px solid #EF2D56;
  padding: 3px 7px;
  border-radius: 5px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.btn-ghost:hover {
  opacity: 0.6;
}

.btns {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 1em;
}

.avatar-profile{
  border-radius: 50%;
  height: 7em;
  width: 7em;
  margin: 0 auto;
}
