.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 3em;
  margin: 0;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 2.5em;
}

.logo{
  display: flex;
  align-items: center;
  p{
    margin: 0;
    font-weight: bold;
  }
}
