.card-product {
  overflow: hidden;
  height: 200px;
  width: 70%;
  margin: 0 auto 5% 5%;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.title{
  align-self: end;
}
.meal{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.order{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}
