.card-product {
  overflow: hidden;
  height: 200px;
  width: 70%;
  margin: 0 auto 0 5%;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  img {
    height: 100%;
    width: 200px;
    object-fit: cover;
  }
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    line-height: 1.4;
    opacity: .8;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.card-product .card-product-infos {
  padding: 16px;
}

.title{
  align-self: end;
  margin-left: 5%;
}
.meal{
  margin-top: 5%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.order{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.card-content{
  width: 70%;
  margin: 0 auto;
}

.card-title{
  text-align: center;
}
