.search-bar{
  width: 80%;
  display: flex;
}

.search-input{
  width: 100%;
  height: 3em;
  border-radius: 5px 0 0 5px;
  padding-left: 2%;
  border: none;
  &:focus{
    outline: none;
  }
}


.search-button{
  border-radius: 0 5px 5px 0;
  height: 3em;
  width: 5em;
  padding-right: 2%;
  border: none;
  background: white;
  color: #EF2D56;
  font-weight: bold;
  &:focus{
    outline: none;
  }
}


// // select{
//   width: 100%;
//   margin: 10% auto;
//   border-radius: 5px;
//   border: none;
//   text-align: center;
//   background: white;
//   color: #EF2D56;
//   &:focus{
//     outline: none;
//   }
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }

.search-bar-index{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.search-input-index{
  width: 70%;
  height: 3em;
  border-radius: 5px 0 0 5px;
  padding-left: 1em;
  border: none;
  &:focus{
    outline: none;
  }
}

.search-button-index{
  border-radius: 0 5px 5px 0;
  height: 3em;
  width: 30%;
  border: none;
  background: white;
  color: #EF2D56;
  font-weight: bold;
  &:focus{
    outline: none;
  }
}

.algolia-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20%;
}

.home{
  padding: 0;
}
