<div class="container-form">
<h1>Add a review</h1>

<%= simple_form_for [@user, @review] do |f| %>
        <%= f.input :rating, collection: 0..5, input_html: { class: 'my-input', placeholder: "Rating"} %>
        <%= f.input :content, input_html: { class: 'my-input', placeholder: "content"} %>
        <%= f.submit class: 'btn btn-primary rose' %>
      <% end %>
</div>
